/* toolbar */
.demo-toolbar {
	padding: 6px;
}
.demo-toolbar .demo-toolbar-icon {
	padding: 0 14px;
}
.demo-toolbar .demo-fill-remaining {
	flex: 1 1 auto;
}
.md-icon-button {
  min-width: 1%;
}
md-select {
  background-color: white;
}
/*md-option:focus{
  background-color: white;
  color: black;
}*/

.example-full {
  padding: 10px 5px 5px 10px; 
  width: 95%;
  height: 90%;
}

textarea#cy_editor {
  border: solid;
}

div#cy {
  /* padding : top, right, bottom, left */
  padding: 5px 10px 5px 10px; 
  /*width: 90%;*/
  height:600px; 
  border:solid;
}