.cyto-wrapper {
  margin: 5px;
  height: 98vh;
  display: flex;
  /* Direction of the items, can be row or column */
  flex-direction: column;
}
.cyto-header {
  height: 64px;
  padding: 0 0 5px 0;
}
.cyto-footer {
  padding: 5px;
  height: 40px;
  /*background-color: rgba(10, 10, 10, 0.5);*/
  /*border: 1px solid rgba(0, 0, 0, 0.5);*/
}
.cyto-main {
  padding: 5px;
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* toolbar */
md-toolbar {
	padding: 6px;
}
.toolbar-fill-remaining {
	flex: 1 1 auto;
}
select {
  background-color: white;
}
option:focus{
  background-color: white;
  color: black;
}


textarea#editor {
  border: solid;
}

div#cy {
  width: 96vw;
  height: 80vh;
  /*background-color: green;*/
}

